* {
  box-sizing: border-box;
}
body,
a,
div,
button,
input,
label {
  cursor: url('../image/vector.d8582cc2.svg'), auto;
}
body {
  margin: 0;
  min-height: 900px;
  background-color: #b421fe0f;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.is-hidden {
  display: none;
  overflow: hidden;
  opacity: 0;
}
.gallery {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1600px;
  justify-content: center;
}
li {
  list-style: none;
}
.b {
  margin: 0 auto;
}
/* ================================BLOCK */
.wrapp {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding-bottom: 20px;
}

.form_wrapp {
  z-index: 2;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #424242de;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  align-items: center;
}

form {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  align-items: center;
}
input {
  transition: border-color 250ms linear;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.552);
  outline: none;
  width: 170px;
  height: 30px;
  display: block;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 0;
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
  font-style: 400;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.552);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

.gray {
  background-color: #42424258;
}

/* =====================button */

.load-more:active:before {
  position: absolute;
  content: '';
  height: 1.2em;
  width: 1.2em;
  right: 120px;
  border-radius: 1em;
  border: 0.2em solid #424242;
  border-top-color: rgba(11, 128, 0, 0.121);
  animation: spiner 1s linear infinite;
}

@keyframes spiner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  z-index: 3;
  width: 60px;
  height: 26px;
  color: #fff;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  background: #b421fe51;
}
.load-more {
  z-index: 3;
  width: 60px;
  height: 26px;
  color: #fff;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b421fe97;
}
.btn-15 {
  border: none;
  z-index: 1;
}

@media screen and (min-width: 500px) {
  input {
    width: 300px;
    height: 40px;
    font-size: 18px;
  }
  .btn {
    width: 90px;
    height: 30px;
  }
  .load-more {
    width: 90px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  input {
    width: 500px;
    height: 40px;
    font-size: 18px;
  }
  .load-more {
    width: 110px;
    height: 36px;
  }
  .btn {
    width: 110px;
    height: 36px;
  }
  form {
    margin: 0 auto;
    justify-content: center;
  }
  .form_wrapp {
    justify-content: right;
    width: 100%;
    padding-right: 20px;
  }
}

.btn-15:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #673dff44;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.form_wrapp:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #673dff44;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.7s ease;
}
.form_wrapp:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:hover {
  color: #fff;
  fill: pink;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
/* ========================================galerry */
p {
  margin: 0;
}
.photo-card {
  width: 350px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition-property: transform;
  transition-duration: 300ms;
  background-color: rgba(255, 255, 255, 0.708);
  cursor: pointer;
}

.photo-card:hover {
  transform: scale(1.02);
}
.info {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #424242;
  text-decoration-line: none;
}
img {
  width: 100%;
  height: 200px;
}
